<!DOCTYPE html>
<html>
	<head>
		<title>Time Management</title>
		<script src="https://unpkg.com/vue"></script>
		<style>
			.startTimes {
				background-color: #c6e8ff
				flex: 1;
			}
			.endTimes {
				background-color: #c6e8ff
				flex: 1;
			}
			.desc {
				background-color: #c6e8ff
				flex: 2;
			}
			.schedule, .addevents, .rNewEvent {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.startTimes div, .endTimes div, .description div {
				padding: 8px;
			}
		</style>
	</head>
	<body>
		<center>
			<h1>Today's Schedule</h1>
		</center>
		<div id="app">
			<div class="schedule">
				<div class="startTimes">
					<div v-for="startTime in startTime">{{ startTime }}</div>
				</div>
				<div class="endTimes">
					<div v-for="endTime in endTime">{{ endTime }}</div>
				</div>
				<div class="description">
					<div v-for="desc in description">{{ desc }}</div>
				</div>
			</div>
			<p></p>
			<div class="addevents">
				<select v-model="priority">
					<option disabled value="">Please select one</option>
					<option>Required Time</option>
					<option>Flexible</option>
					<option>Due Date</option>
				</select>
			</div>
			<div class="rNewEvent">
				<div v-if="priority == 'Required Time'">
					<p>works!</p>
				</div>
			</div>
		</div>
	</body>
	<script>
		var schedule = {
			startTimes: [
				"12:00AM",
				"7:00AM",
				"7:30AM",
				"8:00AM",
				"2:30PM",
				"3:00PM",
				"5:00PM",
				"9:00PM",
			],
			endTimes: [
				"7:00AM",
				"7:30AM",
				"8:00AM",
				"2:30PM",
				"3:00PM",
				"5:00PM",
				"9:00PM",
				"12:00PM",
			],
			desc: [
				"Sleeping.",
				"Getting ready for school.",
				"Commuting.",
				"School.",
				"Commuting.",
				"Homework.",
				"Free time.",
				"Sleeping.",
			],
		}
		var app = new Vue({
			el: "#app",
			data: {
				startTime: schedule.startTimes,
				endTime: schedule.endTimes,
				description: schedule.desc,
				priority: ''
			},
			methods: {

			}
		});
	</script>
</html>
