<!DOCTYPE html>
<html>
	<head>
		<title>Time Management</title>
		<script src="https://unpkg.com/vue"></script>
		<style>
			.eventType, .rNewEvent {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.wrapper {
				display: flex;
				justify-content: center;
			}
			.rNewEvent, .fNewEvent {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 16px;
				justify-content: center;
				align-items: center;
			}
			.schedule-item {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-gap: 16px;
			}
		</style>
	</head>
	<body>
		<center>
			<h1>Today's Schedule</h1>
		</center>
		<div id="app">
			<div class="wrapper">
				<div class="schedule-item">
					<template v-for="item in eventsText">
						<div>{{ item.startTime }}</div>
						<div>{{ item.endTime }}</div>
						<div>{{ item.desc }}</div>
						<button @click="remove_item(item.itemID)">Delete</button>
					</template>
				</div>
			</div>
			<p></p>
			<div class="eventType">
				<select v-model="priority">
					<option disabled value="">Please select one</option>
					<option>Required Time</option>
					<option>Flexible</option>
					<option>Due Date</option>
				</select>
			</div>
			<p></p>
			<div class="rNewEvent" v-if="priority == 'Required Time'">
				<div class="wrapper">
					<div>Description: &nbsp;</div>
					<input v-model="describe" placeholder="Description">
				</div>
				<div class="wrapper">
					<div>Start Time: &nbsp;</div>
					<select v-model="startHour">
						<option disabled value=""></option>
							<template v-for="n in 12">
								<option>{{ n }}</option>
							</template>
					</select>
					<div>&nbsp;:&nbsp;</div>
					<select v-model="startMin">
						<option disabled value=""></option>
						<template v-for="n in 60">
							<template v-if="n < 11">
								<option>{{ '0' + (n - 1) }}</option>
							</template>
							<template v-else>
								<option>{{ (n - 1) }}</option>
							</template>
						</template>
					</select>
					<div>&nbsp;</div>
					<select v-model="startMOA">
						<option disabled value=""></option>
						<option>AM</option>
						<option>PM</option>
					</select>
				</div>
				<div class="wrapper">
					<div>End Time: &nbsp;</div>
					<select v-model="endHour">
						<option disabled value=""></option>
							<template v-for="n in 12">
								<option>{{ n }}</option>
							</template>
					</select>
					<div>&nbsp;:&nbsp;</div>
					<select v-model="endMin">
						<option disabled value=""></option>
						<template v-for="n in 60">
							<template v-if="n < 11">
								<option>{{ '0' + (n - 1) }}</option>
							</template>
							<template v-else>
								<option>{{ (n - 1) }}</option>
							</template>
						</template>
					</select>
					<div>&nbsp;</div>
					<select v-model="endMOA">
						<option disabled value=""></option>
						<option>AM</option>
						<option>PM</option>
					</select>
				</div>
				<div class="wrapper">
					<button v-on:click="add_req()">Submit</button>
				</div>
			</div>
			<div class="fNewEvent" v-if="priority == 'Flexible'">
				<div class="wrapper">
					<div>Description: &nbsp;</div>
					<input v-model="describe" placeholder="Description">
				</div>
				<div class="wrapper">
					<div>Hours: &nbsp;</div>
					<select v-model="hours">
						<template v-for="n in 13">
							<option>{{ (n - 1) }}</option>
						</template>
					</select>
				</div>
				<div class="wrapper">
					<div>Minutes: &nbsp;</div>
					<select v-model="minutes">
						<template v-for="n in 60">
							<option>{{ (n - 1) }}</option>
						</template>
					</select>
				</div>
				<div class="wrapper">
					<button v-on:click="add_flex()">Submit</button>
				</div>
			</div>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				describe: "",
				startHour: "",
				startMin: "",
				startMOA: "",
				endHour: "",
				endMin: "",
				endMOA: "",
				start: "",
				end: "",
				priority: "",
				eventsText: [],
				events: [],
				flexEvents: [],
				dueEvents: [],
				currentID: 0,
				startTime: "",
				endTime: "",
				minutes: "",
				hours: "",
			},
			methods: {
				add_req: function(){
					if (this.startMOA == "PM" && this.startHour != 12){
						this.startHour = parseInt(this.startHour) + parseInt(12)
					} else if (this.startMOA == "AM" && this.startHour == 12){
						this.startHour = 0;
					}
					if (this.endMOA == "PM" && this.endHour != 12){
						this.endHour = parseInt(this.endHour) + parseInt(12)
					} else if (this.endMOA == "AM" && this.endHour == 12){
						this.endHour = 0;
					}
					day = new Date();
					this.start = new Date(day.getFullYear(), day.getMonth(), day.getDate(), this.startHour, this.startMin);
					this.end = new Date(day.getFullYear(), day.getMonth(), day.getDate(), this.endHour, this.endMin);
					var item = {
						itemID: this.currentID + 1,
						startTime: this.start,
						endTime: this.end,
						desc: this.describe,
					}
					this.currentID += 1;
					this.events.push(item);
					this.listItems();
				},
				add_flex: function(){
					timeInMinutes = parseInt(this.minutes) + (parseInt(this.hours) * parseInt(60));
					var ending;
					var item;
					for (i = 0; i < this.events.length - 1; i++){
						var a = this.events[i];
						var b = this.events[i + 1];
						var aInMinutes = parseInt(a.endTime.getMinutes()) + (parseInt(a.endTime.getHours()) * parseInt(60));
						var bInMinutes = parseInt(b.startTime.getMinutes()) + (parseInt(b.startTime.getHours()) * parseInt(60));
						ending = new Date(a.endTime.getTime() + timeInMinutes*60000);
						difference = (bInMinutes - aInMinutes);
						if (difference >= timeInMinutes){
							item = {
								itemID: this.currentID + 1,
								startTime: a.endTime,
								endTime: ending,
								desc: this.describe,
							}
							break;
						}
					}
					if (this.events.length == 0){
						var starting = new Date();
						ending = new Date(starting.getTime() + timeInMinutes*60000);
						item = {
							itemID: this.currentID + 1,
							startTime: starting,
							endTime: ending,
							desc: this.describe,
						}
					}
					this.currentID += 1;
					this.events.push(item);
					this.listItems();
				},
				listItems: function(){
					this.events.sort(function(a, b) {
    					var timeInMinutesA = parseInt(a.startTime.getHours()) * parseInt(60) + (parseInt(a.startTime.getMinutes()));
    					var timeInMinutesB = parseInt(b.startTime.getHours()) * parseInt(60) + (parseInt(b.startTime.getMinutes()));
    					return timeInMinutesA - timeInMinutesB;
					});
					this.autoRemoveItem();
					this.eventsText = [];
					for (eventKey in this.events){
						var event = this.events[eventKey];
						this.startTime = event.startTime;
						this.endTime = event.endTime;
						this.start = this.startTime + this.startTime.getTimezoneOffset();
						this.end = this.endTime + this.endTime.getTimezoneOffset();
						if (this.startTime.getHours() == 0){
							if (this.startTime.getMinutes() < 10){
								this.start = 12 + ":0" + this.startTime.getMinutes() + " AM"; 
							} else {
								this.start = 12 + ":" + this.startTime.getMinutes() + " AM"; 
							}
						} else if (this.startTime.getHours() > 12){
							if (this.startTime.getMinutes() < 10){
								this.start = (this.startTime.getHours() - 12)  + ":0" + this.startTime.getMinutes() + " PM";
							} else {
								this.start = (this.startTime.getHours() - 12)  + ":" + this.startTime.getMinutes() + " PM";
							}
						} else if (this.startTime.getHours() == 12){
							if (this.startTime.getMinutes() < 10){
								this.start = 12 + ":0" + this.startTime.getMinutes() + " PM";
							} else {
								this.start = 12 + ":" + this.startTime.getMinutes() + " PM";
							}
						} else {
							if (this.startTime.getMinutes() < 10){
								this.start = this.startTime.getHours() + ":0" + this.startTime.getMinutes() + " AM";
							} else {
								this.start = this.startTime.getHours() + ":" + this.startTime.getMinutes() + " AM";
							}
						}
						if (this.endTime.getHours() == 0){
							if (this.endTime.getMinutes() < 10){
								this.end = 12 + ":0" + this.endTime.getMinutes() + " AM"; 
							} else {
								this.end = 12 + ":" + this.endTime.getMinutes() + " AM"; 
							}
						} else if (this.endTime.getHours() > 12){
							if (this.endTime.getMinutes() < 10){
								this.end = (this.endTime.getHours() - 12)  + ":0" + this.endTime.getMinutes() + " PM";
							} else {
								this.end = (this.endTime.getHours() - 12)  + ":" + this.endTime.getMinutes() + " PM";
							}
						} else if (this.endTime.getHours() == 12){
							if (this.endTime.getMinutes() < 10){
								this.end = 12 + ":0" + this.endTime.getMinutes() + " PM";
							} else {
								this.end = 12 + ":" + this.endTime.getMinutes() + " PM";
							}
						} else {
							if (this.endTime.getMinutes() < 10){
								this.end = this.endTime.getHours() + ":0" + this.endTime.getMinutes() + " AM";
							} else {
								this.end = this.endTime.getHours() + ":" + this.endTime.getMinutes() + " AM";
							}
						}
						var item = {
							itemID: event.itemID,
							startTime: this.start,
							endTime: this.end,
							desc: event.desc,
						}
						this.eventsText.push(item);
					}
				},
				remove_item: function(itemID){
					this.events = this.events.filter((item) => { return item.itemID !== itemID });
          			this.eventsText = this.eventsText.filter((item) => { return item.itemID !== itemID });
				},
				autoRemoveItem: function(){
					var list = [];
					var now = new Date();
					for (eventKey in this.events){
						var event = this.events[eventKey];
						if (event.endTime < now){
							list.push(event.itemID);
						}
					}
					for (listKey in list){
						var item = list[listKey];
						this.remove_item(item);
					}
				}
			}	
		});
	</script>
</html>