<!DOCTYPE html>
<html>
	<head>
		<title>Time Management</title>
		<script src="https://unpkg.com/vue"></script>
		<style>
			.eventType, .rNewEvent {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.wrapper {
				display: flex;
				justify-content: center;
			}
			.schedule-item {
				display: grid;
				grid-template-columns: 1fr 1fr 2fr;
				grid-gap: 8px;
			}
		</style>
	</head>
	<body>
		<center>
			<h1>Today's Schedule</h1>
		</center>
		<div id="app">
			<table>
				<div class="wrapper">
					<div class="schedule-item" v-for="item in events">
						<div>{{ item.startTime }}</div>
						<div>{{ item.endTime }}</div>
						<div>{{ item.desc }}</div>
					</div>
				</div>
			</table>
			<p></p>
			<div class="eventType">
				<select v-model="priority">
					<option disabled value="">Please select one</option>
					<option>Required Time</option>
					<option>Flexible</option>
					<option>Due Date</option>
				</select>
			</div>
			<div class="rNewEvent" v-if="priority == 'Required Time'">
				<p></p>
				<input v-model="describe" placeholder="Description">
				<input v-model="start" placeholder="Start Time">
				<input v-model="end" placeholder="End Time">
				<button v-on:click="add_item()">Submit</button>
			</div>
		</div>
	</body>
	<script>
		var schedule = {


		}
		var app = new Vue({
			el: "#app",
			data: {
				describe: "",
				start: "",
				end: "",
				priority: "",
				events: [],
			},
			methods: {
				add_item: function(){
					var item = {
						startTime: this.start,
						endTime: this.end,
						desc: this.describe,
					};
					this.events.push(item);
				}
			}
		});
	</script>
</html>
